
h1{
    color: #333399;
}

.inlineDiv {
    vertical-align: top;
    display: inline-block;
    margin: 5px;
}
body { text-align:center;}
table { overflow: auto; 
        display: inline-block;
}
ul {
    display: inline-block;
    text-align: left;
    margin: 5px;
}
fieldset { 
    overflow: hidden; 
    margin-bottom: 5px;
    display: inline-block;
    width: 300px;
}

label { float: left; width: 140px; }

input { width: 140px; }